@use "../../../scss/general/variables";
@use "../../../scss/general/typography";
@use "../../../scss/general/mixins";

.dogodek__main {
  //border: black solid 1px;
  padding: 5em;
  display: flex;
  text-align: left;
  flex-direction: column;
  .dogodek__title{
    font-size: 2.3em;
    font-family: variables.$primaryFont;
    outline: burlywood;
    margin: 10px;
    text-shadow:
            -1px -1px 0 burlywood, // top-left
            1px -1px 0 burlywood, // top-right
            -1px  1px 0 burlywood, // bottom-left
            1px  1px 0 burlywood; // bottom-right
  }
  .dogodek__info{
    font-family: variables.$secondaryFont;
    margin-top: 5px;
    text-shadow:
            -1px -1px 0 burlywood, // top-left
            1px -1px 0 burlywood, // top-right
            -1px  1px 0 burlywood, // bottom-left
            1px  1px 0 burlywood; // bottom-right
  }
  .dogodek__text{
    font-family: variables.$secondaryFont;

  }

  .dogodek__postavitev__title{
    font-family: variables.$primaryFont;
    font-size: 2em;
    margin-top: 20px;
    text-shadow:
            -1px -1px 0 burlywood, // top-left
            1px -1px 0 burlywood, // top-right
            -1px  1px 0 burlywood, // bottom-left
            1px  1px 0 burlywood; // bottom-right
  }

  .dogodek__subtitle{
    font-family: variables.$primaryFont;
    font-size: 1.5em;
    margin-top: 20px;
    text-shadow:
            -1px -1px 0 burlywood, // top-left
            1px -1px 0 burlywood, // top-right
            -1px  1px 0 burlywood, // bottom-left
            1px  1px 0 burlywood; // bottom-right
  }

  .postavitev__img{
    margin-top: 30px;
    border: variables.$secondaryColor solid 5px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

}
