$primaryColor: yellow;
$secondaryColor: blue;
$adjacentColor: #A7A7A7;
$headingColor: #D9D9D9;
$contactColor: #363636;
$textColor: rgba(66,68,110);

$primaryFont : "Sigmar One", sans-serif;
$secondaryFont : "DM Sans", sans-serif;